<!DOCTYPE html>
<html>
  <body>
    <h2>URL Shortener</h2>

    <form>
      <label for="base_url_field">Enter URL to be shortened:</label><br />
      <input type="text" id="base_url_field" value="" /><br />
      <input type="button" id="submit_btn" value="Submit" />
    </form>

    <p>Shortened URL:</p>
    <a href="" target="_blank" rel="noopener noreferrer" id="short_url"></a>
  </body>

  {% load static %}
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
  <script src="{% static 'scripts.js' %}"></script>
</html>
